<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DetectAccident</servlet-name>
        <servlet-class>api.DetectAccident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccidentDetails</servlet-name>
        <servlet-class>api.GetAccidentDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>api.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>api.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptAccident</servlet-name>
        <servlet-class>api.AcceptAccident</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>api.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>api.UserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>api.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyAcceptedAccidents</servlet-name>
        <servlet-class>api.ViewMyAcceptedAccidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHospital</servlet-name>
        <servlet-class>api.AddHospital</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSPInfo</servlet-name>
        <servlet-class>api.GetSPInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetectAccident</servlet-name>
        <url-pattern>/DetectAccident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccidentDetails</servlet-name>
        <url-pattern>/GetAccidentDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptAccident</servlet-name>
        <url-pattern>/AcceptAccident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyAcceptedAccidents</servlet-name>
        <url-pattern>/ViewMyAcceptedAccidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHospital</servlet-name>
        <url-pattern>/AddHospital</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSPInfo</servlet-name>
        <url-pattern>/GetSPInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
